.btn {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: #fff;
}

.btn:hover {
  background-color: var(--color-accent);
  border-color: var(--color-accent);
  color: #fff;
  transition: all 250ms ease;
}

.img-flex {
  display: block;
  width: 100%;
}
