footer {
  background-color: var(--color-secondary);
}

li a {
  display: block;
  text-decoration: none;
  color: #fff;
}

.instagram {
  transition: all .2s linear;
  transform: scale(2.0);
}

.instagram:hover {
  transform: scale(2.5);
}

.facebook {
  transition: all .2s linear;
  transform: scale(2.0);
}

.facebook:hover {
  transform: scale(2.5);
}

.twitter {
  transition: all .2s linear;
  transform: scale(2.0);
}

.twitter:hover {
  transform: scale(2.5);
}

@media only screen and (min-width: 38em) {

  .social {
    text-align: left;
  }

  .footer {
    text-align: right;
  }

  li a{
    display: inline-block;
    text-decoration: none;
  }

}
