.nav {
  position: relative;
  background-color: var(--color-secondary);
  z-index: 2;
  color: #fff;
  text-decoration: none;
}

.nav:hover {
  background-color: var(--color-secondary);
  color: #fff;
}

nav .selection {
  background-color: var(--color-secondary);
  color: #fff;
  border-radius: 5px;
}

.btn {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
  color: #fff;
}

.btn:hover {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: #fff;
  transition: all 250ms ease;
}
