.btn {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: #fff;
}

.btn:hover {
  background-color: var(--color-accent);
  border-color: var(--color-accent);
  color: #fff;
  transition: all 250ms ease;
}

.btn-light {
  background-color: var(--color-accent);
  border-color: var(--color-accent);
  color: #fff;
}

.btn-light:hover {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: #fff;
  transition: all 250ms ease;
}

.btn-ghost {
  background-color: transparent;
  border: transparent;
  text-decoration: none;
  border-radius: none;
  color: #fff;
  color: var(--color-primary);
}

.btn-ghost:hover {
  background-color: transparent;
  color: var(--color-accent);
  border-top: 2px solid var(--color-accent);
  border-bottom: 2px solid var(--color-accent);
  border-radius: none;
  padding-bottom: 3px;
  transition: .5s ease;
}
